
<%- contentFor('content') %>
<div class="container text-center">
  <h1 class="mt-5 text-white font-weight-light">Express & Passport</h1>
  <p class="lead text-white-50">An Express & Passport login demo</p>
</div>
